<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Student Task Tracker | Sign Up</title>

    <!-- Custom fonts for this template-->
    
    <link
        href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="images/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="images/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">


</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <img class="app-header__logo" 
                                            style="width: 300px;"
                                            src="{% static 'images/study_down_logo_side-removebg.png' %}" alt="Down under logo">
                                            <h1 class="h4 text-gray-900 mb-4"></h1>
                                <h1 class="h5 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form action="#" method="POST" class="user">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <!--<input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">-->
                                        <input type="text" class="form-control form-control-user {{ form.first_name.css_classes }}" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}" placeholder="First Name"> 
                                    </div>
                                    <div class="col-sm-6">
                                        <!--<input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">-->
                                        <input type="text" class="form-control form-control-user {{ form.last_name.css_classes }}" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" placeholder="Last Name">    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--<input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">-->
                                    <input type="email" class="form-control form-control-user {{ form.email.css_classes }}" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Email Address">
                                    <span class="text-danger small">{{ form.errors.email }}</span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <!--<input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">-->
                                        <input type="password" class="form-control form-control-user {{ form.password1.css_classes }}" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Password">
                                        <span class="text-danger small">{{ form.errors.password1 }}</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <!--<input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">-->
                                        <input type="password" class="form-control form-control-user {{ form.password2.css_classes }}" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" placeholder="Confirm Password">
                                        <span class="text-danger small">{{ form.errors.password2 }}</span>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <!--<hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>-->
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'app_account:forgot' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">                                
                                <p class="small">Already have an account? <a href="{% url 'app_account:signin' %}">Sign-in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>